{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <div class="container container-wide">
        <div class="text-end mb-3">
            <a href="{% url 'create' %}" class="btn btn-secondary">{% translate "Create new project" %}</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{% translate "ID" %}</th>
                    <th>{% translate "Title" %}</th>
                    <th>{% translate "Responsible researcher" %}</th>
                    <th>{% translate "Department" %}</th>
                    <th>{% translate "Data type" %}</th>
                    <th>{% translate "Identifier" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for project in object_list %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.responsible_researcher }}</td>
                        <td>{{ project.department }}</td>
                        <td>{{ project.data_type.all|join:", " }}</td>
                        <td>{{ project.identifier|default:"—" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        {% endif %}
    </div>
{% endblock %}
