{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container container-wide">
        <div class="d-flex justify-content-between mb-3">
            <label>
                <span class="visually-hidden">{% translate "Filter" %}</span>
                <input class="form-control">
            </label>
            <a href="{% url 'create' %}" class="btn btn-secondary">{% translate "Create new project" %}</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{% translate "ID" %}</th>
                    <th>{% translate "Title" %}</th>
                    <th>{% translate "Responsible researcher" %}</th>
                    <th>{% translate "Department" %}</th>
                    <th>{% translate "Data type" %}</th>
                    <th>{% translate "Identifier" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for project in object_list %}
                    <tr data-filter="{{ project.title|lower }} {{ project.department|lower }} {{ project.data_type.all|join:" "|lower }}">
                        <td>{{ project.id }}</td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.responsible_researcher }}</td>
                        <td>{{ project.department }}</td>
                        <td>{{ project.data_type.all|join:", " }}</td>
                        <td>{{ project.identifier|default:"—" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
